<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <title>Phishing Website Detection</title>
</head>
<body>
    <div class="header">
        <h1>Phishing Website Detection</h1>
    </div>
    <main>
        <section>
            <h2>👉 What is a Phishing Website?</h2>
            <p>A phishing website is a fake website that is designed to look like a legitimate website in order to trick users into providing sensitive information, such as usernames, passwords, or credit card details.</p>
            <p>Phishing websites are often distributed via email or social media messages that appear to be from a trusted source.</p>
        </section>
        <section>
            <h2>👉 How to Detect a Phishing Website</h2>
            <p>Here are some signs that a website may be a phishing website:</p>
            <ul>
                <li>The URL is slightly different from the legitimate website (e.g. paypal.com vs. paypa1.com)</li>
                <li>The website has a lot of spelling or grammatical errors</li>
                <li>The website asks for sensitive information that it shouldn't need (e.g. your Social Security number when signing up for a free trial)</li>
                <li>The website uses a non-secure connection (HTTP instead of HTTPS)</li>
            </ul>
            <p>If you suspect that a website may be a phishing website, it's best to avoid entering any sensitive information and to report the website to the appropriate authorities.</p>
        </section>
        <section>
            <h2>👉 Tools for Detecting Phishing Websites</h2>
            <p>There are several tools available that can help you detect phishing websites:</p>
            <ul class="links">
                <li><a href="https://www.phishtank.com/">PhishTank</a> - A community-driven database of known phishing websites</li>
                <li><a href="https://www.opendns.com/phishing-protection/">OpenDNS</a> - A service that can block access to known phishing websites</li>
                <li><a href="https://www.avast.com/fake-site-detection">Avast Fake Site Detection</a> - A browser extension that can detect and block phishing websites</li>
            </ul>
        </section>
    </main>
    <center>
        <div class="check-btn">
            <a href="/predict">Check the URL here 🔎</a>
        </div>
    </center>
    
</body>
</html>